---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}
const { headings } = Astro.props;
---
<nav>
  <ul>
    {
      headings.map((heading: MarkdownHeading) => {
        const {
          depth,
          slug,
          text,
        }: { depth: number; slug: string; text: string } = heading;

        const headingRef: string = `#${slug}`;
        return (
          <li class={`toc-header toc-depth-${depth}`}>
            <a href={headingRef}>{text}</a>
          </li>
        );
      })
    }
  </ul>
</nav>

<script>
  const observerFunction = () => {
    const observerOptions = {
      threshold: 1,                 // how much we see
      rootMargin : "0px 0px -66%"   // how big the intersection window is
    }
    
    const observer: IntersectionObserver = new IntersectionObserver((entries: IntersectionObserverEntry[]) => {

      entries.forEach((entry: any) => {
        const id: string | null = entry.target.getAttribute('id');
        const linkSelector: string = `main nav ul li a[href="#${id}"]`;
        if (entry.isIntersecting) {
          document.querySelectorAll('main nav ul li a').forEach(element => element.parentElement.classList.remove('active'));
          document.querySelector(linkSelector).parentElement.classList.add('active');
        }
      })
    }, observerOptions);

    // Track all sections that have an `id` applied
    document.querySelectorAll('h2[id]').forEach((h2: Element) => {
      observer.observe(h2);
    });
  }

  window.addEventListener('DOMContentLoaded', observerFunction);
</script>

<style>
  nav {
    position: sticky;
    top: 3rem;
    align-self: start;
    display: none;
    margin-right: 1rem;
  }

  ul {
    list-style: none;
  }

  .toc-header a {
    text-decoration: none;
    color: black;
  }

  .toc-depth-1 {
    font-size: 24px;
  }

  .toc-depth-2 {
    font-size: 20px;
    font-weight: 500;
  }

  .toc-depth-3 {
    font-size: 18px;
    margin-left: 1rem;
    font-weight: 400;
  }

  .toc-depth-4 {
    font-size: 16px;
    margin-left: 2rem;
  }

  .toc-depth-5 {
    visibility: hidden;
    height: 0;
  }

  .toc-depth-6 {
    visibility: hidden;
    height: 0;
  }

  @media screen and (min-width: 992px) {
    nav {
      display: flex;
      padding: 1rem 0;
    }

    .active a {
      color: blue;
    }

    nav a {
      transition: all 100ms ease-in-out;
    }
  }
</style>
